<!DOCTYPE html>
<html lang="en">

<style>
  .intro-text {
    text-align: center;
    margin: 50px 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }


  .intro-text img {
    max-width: 50%;
    /* 이미지의 최대 너비를 50%로 설정 */
    height: auto;
    /* 높이는 자동으로 조정 */
    display: block;
    /* 이미지를 블록 요소로 설정 */
    margin: 20px auto;
    /* 중앙 정렬을 위해 상하좌우 여백 설정 */
  }

  .box {
    margin: 10px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    /* 하단 여백 추가 */

  }

  .box .active {
    background-color: #5871a2;
    color: white;
  }


  
  .box table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 5px 8px;
  }

  .box th,
  .box td {
    width: 10%;
    height: 10px;
    padding: 15px;
   /* border: px solid #a1a0b1; */
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    background-color: rgb(231, 231, 231);
    border-radius: 10px; /* 둥근 모서리 설정 */
    
  }

  .box th {
    background-color: rgb(237, 237, 219);
  }
</style>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MMS Page - Arsha Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">


</head>

<body>
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center">
      <h1 class="logo me-auto"><a href="index.html">BIGK</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/home">메인 홈</a></li>
          <li><a class="nav-link scrollto" href="/about">소개</a></li>
          <li><a class="nav-link scrollto" href="/services">서비스</a></li>
          <li class="dropdown"><a href="#"><span>R&D 사업</span> </a>

          </li>
          <li><a class="nav-link scrollto" href="/login">로그인</a></li>
          <li><a class="nav-link scrollto" href="/signup">회원가입</a></li>
          <li><a class="getstarted scrollto" href="/alarm">알림 받기</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>
  </header>

  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a href="index.html">메인 홈</a></li>
          <li>알림받기</li>
        </ol>
        <h2>사업 알림 받기</h2>
      </div>
    </section>

    <section class="inner-page">

      <p class="intro-text">
        원하는 사업 과제를 뽑아 메일로 전송해 드립니다.<br><br>
        직접 하나하나 찾는 수고로움을 덜어드려요.<br><br>
        <img src="../static/assets/img/email.png" alt="이미지" style="max-width: 10%; height: auto;"><br><br>
        보다 쉬운, 그리고 편리한 <br><br>
        당신을 위한 맞춤형 사업 공고 <br><br>
        BigK
      </p>


      <div class="container">
        <div class="box" style="margin-top: 50px;">

          <table>
            <tr>
              <th id="category-people" onclick="toggleCategory(this)">인력 양성 사업</th>
              <th id="category-tech" onclick="toggleCategory(this)">기술 개발 사업</th>
              <th id="category-planning" onclick="toggleCategory(this)">기획 사업</th>
            </tr>
          </table>
        </div>


        <div class="box">
          <table>
            <tr>

              <td id="category-1" onclick="toggleCategory(this)">원재료</td>
              <td id="category-2" onclick="toggleCategory(this)">소재</td>
              <td id="category-3" onclick="toggleCategory(this)">공정(제조)</td>
              <td id="category-4" onclick="toggleCategory(this)">부품</td>
            </tr>
            <tr>
              <td id="category-5" onclick="toggleCategory(this)">모듈</td>
              <td id="category-6" onclick="toggleCategory(this)">SW</td>
              <td id="category-7" onclick="toggleCategory(this)">최종제품</td>
              <td id="category-8" onclick="toggleCategory(this)">융복합제품</td>
            </tr>
          </table>
        </div>


        <div class="box">
          <table>
            <tr>

              <td id="category-a" onclick="toggleCategory(this)">우주</td>
              <td id="category-b" onclick="toggleCategory(this)">항공</td>
              <td id="category-c" onclick="toggleCategory(this)">국방</td>
              <td id="category-d" onclick="toggleCategory(this)">의료</td>
              <td id="category-e" onclick="toggleCategory(this)">자동차</td>
            </tr>

            <tr>
              <td id="category-f" onclick="toggleCategory(this)">일반소비가전</td>
              <td id="category-g" onclick="toggleCategory(this)">일반소비재</td>
              <td id="category-h" onclick="toggleCategory(this)">기계</td>
              <td id="category-i" onclick="toggleCategory(this)">화학</td>
              <td id="category-j" onclick="toggleCategory(this)">바이오</td>
            </tr>
            <tr>
              <td id="category-k" onclick="toggleCategory(this)">에너지</td>
              <td id="category-l" onclick="toggleCategory(this)">환경</td>
              <td id="category-m" onclick="toggleCategory(this)">IT</td>
              <td id="category-n" onclick="toggleCategory(this)">통신</td>
              <td id="category-o" onclick="toggleCategory(this)">서비스</td>
            </tr>

            <tr>

              <td id="category-p" onclick="toggleCategory(this)">운송</td>
              <td id="category-q" onclick="toggleCategory(this)">물류</td>
              <td id="category-r" onclick="toggleCategory(this)">건설</td>
              <td id="category-s" onclick="toggleCategory(this)">금융</td>
              <td id="category-t" onclick="toggleCategory(this)">보험</td>
            </tr>
          </table>
        </div>


      </div>


      
    </section>


  </main>
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>정부 사업 알림 받기</h4>
            <h5>메일 주소를 입력하세요. <h5>
            <!-- <p><기업의 관심 키워드에 맞춰 사업 공고를 전송합니다. </p> -->
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="메일 입력">
            </form>
            <br>
            <h5>연간 구독 서비스로 주요 정부 사업 알림을 실시간 제공받을 수 있습니다.</h5>
          </div>
        </div>
      </div>
    </div>



    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/aos/aos.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../static/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/js/main.js"></script>



</body>

</html>